*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    /* max-width: 1440px; */
    margin: 0 auto;
    width: 100vw;
}

.gap-header{
    padding: 12px;
    background-color: #ffdb63;
}

header{
    background-color: #fff;
    padding: 34px 77px;
    display: flex;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height:10px;
}

header nav ul{
    display: flex;
    gap: 46px;
    list-style-type: none;
}

header nav a{
    font-size: 26px;
    text-decoration: none;
    font-weight: 700;
    color: black;
}

header nav span{
    font-size: 26px;
    font-weight: 100;
}

.input-pesquisa{
    border-radius: 20px;
    width: 230px;
    height: 40px;
    background-color:#f5f2f2;
    border: none; 
}

header nav ::placeholder{
    text-align: center;
    
}

.image-class{
    width: 100%;
    height: 362px;
    position: relative;
}

.image-class img{
    width: 100%;
    height: auto;
    max-height: 362px;
    object-fit: cover;
    filter: brightness(60%);
}

.overlay{
    position: absolute;
    color: #fff;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay h1{
    font-size: 3rem;
    font-weight: 700;
}

.modo-preparo{
    margin: 0px 0 0 50px;
}

.modo-preparo h2{
    margin: 40px 0 30px 0;
}

.modo-preparo ul,ol{
    margin: 20px 0 0 30px;
}

.modo-preparo p{
    margin-bottom: 50px;
}

.modo-preparo-ol{
    width: 600px;
}

.container-redes{
    display: flex;
    flex-direction: row;
    height: 200px;
    background-color: #ffdb63;
}

.titulo-redes{
    display: flex;
    align-items: center;
    margin-left: 100px;
}

span{
    margin-left: 15px;
    font-size: 2rem;
    font-weight: 700;
}

.links-redes{
    align-items: center;
    margin: 70px 0 0 500px;
}

.links-redes h2{
    margin-bottom: 15px;
}